<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Tittle's post</th>
            <th>Description</th>
            <th>Author</th>
            <th>Time</th>
        </tr>
        <!-- <% listUsers.forEach(element => { %>
            <tr>
                <td><%= element._id %> </td>
                <td><%= element.email %> </td>
                <td><%= element.username %> </td>
                <td><%= element.city %> </td>
                <td>
                    <a href="/update/<%= element._id %> ">Edit</a>
                    <a href="/delete/<%= element._id %> ">Delete</a>
                </td>
            </tr>
        <% }) %> -->
    </table>
</body>

</html>